<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">ABONE OL</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/unsubscribe">ABONELİKTEN ÇIK</a>
                </li>
            </ul>
            <span class="nav navbar-nav navbar-right ml-auto"></span>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Abonelikten çıkmak üzeresiniz</h2>
            {{if .Error.Empty}}
                <h3 style="color: red">Doldur şunları</h3>
            {{end}}
            {{if .Error.EmailNotValid}}
                <h3 style="color: dodgerblue">Düzelt şu emaili</h3>
            {{end}}
            {{if .Error.LinkNotValid}}
                <h3 style="color: orange">Düzelt şu linki</h3>
            {{end}}
            {{if .Error.NoMatch}}
                <h3 style="color: orange">Bu kullanıcı zaten abone değil</h3>
            {{end}}
            {{if .Error.NoSuchLink}}
                <h3 style="color: orange">Böyle bir ürün yok</h3>
            {{end}}
            <form method="POST" class="form-group">
                <label for="email">Email:</label>
                <input id="email" placeholder="example@abcmail.com gibi yazmazsan hata alırsın" class="form-control"
                       type="text" name="email" value="{{.Email}}"><br/>

                <label for="link">Link:</label>
                <input value="{{.Link}}" id="link"
                       placeholder="https://www.blabla.com gibi linkler kullanmazsan hata alırsın"
                       class="form-control" type="text" name="link"><br/>
                <input class="btn btn-primary" value="Abonelikten Çık" style="float: right;" type="submit">
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
</body>
</html>